In [922]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [923]:
test=pd.read_csv('/Users/tarinisharma/loan prediction/test.csv')
train=pd.read_csv('/Users/tarinisharma/loan prediction/train.csv')
test.sample(10)
train.sample(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
352,LP002141,Male,Yes,3+,Graduate,No,2666,2083.0,95.0,360.0,1.0,Rural,Y
107,LP001370,Male,No,0,Not Graduate,NaN,7333,0.0,120.0,360.0,1.0,Rural,N
139,LP001493,Male,Yes,2,Not Graduate,No,4200,1430.0,129.0,360.0,1.0,Rural,N
572,LP002855,Male,Yes,2,Graduate,No,16666,0.0,275.0,360.0,1.0,Urban,Y
457,LP002467,Male,Yes,0,Graduate,No,3708,2569.0,173.0,360.0,1.0,Urban,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
79,LP001264,Male,Yes,3+,Not Graduate,Yes,3333,2166.0,130.0,360.0,NaN,Semiurban,Y
356,LP002149,Male,Yes,2,Graduate,No,8333,3167.0,165.0,360.0,1.0,Rural,Y
188,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y
418,LP002345,Male,Yes,0,Graduate,No,1025,2773.0,112.0,360.0,1.0,Rural,Y

In [924]:
test.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [925]:
test.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [926]:
test['Gender']=test['Gender'].astype('category')

In [927]:
test['Self_Employed']=test['Self_Employed'].astype('category')
test.dtypes

Loan_ID                object
Gender               category
Married                object
Dependents             object
Education              object
Self_Employed        category
ApplicantIncome         int64
CoapplicantIncome       int64
LoanAmount            float64
Loan_Amount_Term      float64
Credit_History        float64
Property_Area          object
dtype: object

In [928]:
test['Dependents'].value_counts()

Dependents
0     200
2      59
1      58
3+     40
Name: count, dtype: int64

In [929]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [930]:
test['Gender']=test['Gender'].fillna(test['Gender'].mode()[0])

In [931]:
test['Dependents']=test['Dependents'].fillna(test['Dependents'].mode()[0])
test['Self_Employed']=test['Self_Employed'].fillna(test['Self_Employed'].mode()[0])
test.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [932]:
test['Credit_History'].value_counts()

Credit_History
1.0    279
0.0     59
Name: count, dtype: int64

In [933]:
test['Credit_History']=test['Credit_History'].fillna(test['Credit_History'].mean())

In [934]:
Q1=test['LoanAmount'].quantile(0.25)
Q3=test['LoanAmount'].quantile(0.75)
IQR=Q3-Q1

In [935]:
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR

In [936]:
lower_outliers=test[test['LoanAmount']<lower_bound]
upper_outliers=test[test['LoanAmount']<upper_bound]

In [937]:
lower_outliers['LoanAmount'].unique()
upper_outliers['LoanAmount'].unique()

array([110., 126., 208., 100.,  78., 152.,  59., 147., 123.,  90., 162.,
        40., 166., 124., 131., 200.,  48.,  28., 101., 125., 148., 140.,
        57.,  75., 192., 158., 176., 185., 116., 138.,  84., 108., 187.,
       120., 160.,  30.,  92., 130., 134., 189., 135., 188.,  95.,  65.,
       139., 232., 144., 155., 186.,  50., 163., 149., 102.,  77.,  61.,
       107., 119., 165.,  93., 122., 157., 180.,  80., 104., 213., 146.,
        71., 225.,  70., 132., 105.,  83., 103., 150., 199., 113., 117.,
        72., 214., 133., 143., 209., 170.,  94.,  79., 159., 173., 235.,
        96., 128., 114., 115.,  88.,  55., 118., 212.,  74.,  66.,  64.,
       142., 151.,  81., 171., 234., 184., 112.,  49.,  99., 240., 106.,
       141., 145., 177.,  68., 183., 121., 153.,  67., 181.,  35.,  46.,
        87., 137., 109., 197.,  85.,  60.,  76.,  98.])

In [938]:
print("lower_outliers:",lower_outliers.shape[0])
print("upper_outliers:",upper_outliers.shape[0])

lower_outliers: 0
upper_outliers: 344

In [939]:
test['LoanAmount']=test['LoanAmount'].fillna(test['LoanAmount'].median())

In [940]:
Q1=test['Loan_Amount_Term'].quantile(0.25)
Q3=test['Loan_Amount_Term'].quantile(0.75)
IQR=Q3-Q1

In [941]:
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR

In [942]:
lower_outliers=test[test['Loan_Amount_Term']<lower_bound]
upper_outliers=test[test['Loan_Amount_Term']<upper_bound]

In [943]:
print('lower_outliers:',lower_outliers.shape[0])
print('upper_outliers:',upper_outliers.shape[0])

lower_outliers: 42
upper_outliers: 42

In [944]:
test['Loan_Amount_Term']=test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].median())

In [945]:
test.dtypes

Loan_ID                object
Gender               category
Married                object
Dependents             object
Education              object
Self_Employed        category
ApplicantIncome         int64
CoapplicantIncome       int64
LoanAmount            float64
Loan_Amount_Term      float64
Credit_History        float64
Property_Area          object
dtype: object

In [946]:
test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [947]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [948]:
train.sample(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
516,LP002670,Female,Yes,2,Graduate,No,2031,1632.000000,113.0,480.0,1.0,Semiurban,Y
484,LP002543,Male,Yes,2,Graduate,No,8333,0.000000,246.0,360.0,1.0,Semiurban,Y
417,LP002342,Male,Yes,2,Graduate,Yes,1600,20000.000000,239.0,360.0,1.0,Urban,N
112,LP001391,Male,Yes,0,Not Graduate,No,3572,4114.000000,152.0,NaN,0.0,Rural,N
89,LP001310,Male,Yes,0,Graduate,No,5695,4167.000000,175.0,360.0,1.0,Semiurban,Y
247,LP001819,Male,Yes,1,Not Graduate,No,6608,0.000000,137.0,180.0,1.0,Urban,Y
560,LP002807,Male,Yes,2,Not Graduate,No,3675,242.000000,108.0,360.0,1.0,Semiurban,Y
136,LP001489,Female,Yes,0,Graduate,No,4583,0.000000,84.0,360.0,1.0,Rural,N
282,LP001915,Male,Yes,2,Graduate,No,2301,985.799988,78.0,180.0,1.0,Urban,Y
415,LP002337,Female,No,0,Graduate,No,2995,0.000000,60.0,360.0,1.0,Urban,Y

In [949]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [950]:
train['Gender']=train['Gender'].astype('category')
train['Married']=train['Married'].astype('category')
train['Education']=train['Education'].astype('category')
train['Self_Employed']=train['Self_Employed'].astype('category')
train['Loan_Status']=train['Loan_Status'].astype('category')

In [951]:
train.dtypes

Loan_ID                object
Gender               category
Married              category
Dependents             object
Education            category
Self_Employed        category
ApplicantIncome         int64
CoapplicantIncome     float64
LoanAmount            float64
Loan_Amount_Term      float64
Credit_History        float64
Property_Area          object
Loan_Status          category
dtype: object

In [952]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [953]:
train['Gender']=train['Gender'].fillna(train['Gender'].mode()[0])
train['Married']=train['Married'].fillna(train['Married'].mode()[0])
train['Dependents']=train['Dependents'].fillna(train['Dependents'].mode()[0])
train['Self_Employed']=train['Self_Employed'].fillna(train['Self_Employed'].mode()[0])

In [954]:
Q1=train['LoanAmount'].quantile(0.25)
Q3=train['LoanAmount'].quantile(0.75)
IQR=Q3=Q1

In [955]:
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR

In [956]:
lower_outliers=train[train['LoanAmount']<lower_bound]
upper_outliers=train[train['LoanAmount']<upper_bound]

In [957]:
print("Lower_outliers:",lower_outliers.shape[0])
print("Upper_outliers:",upper_outliers.shape[0])

Lower_outliers: 0
Upper_outliers: 539

In [958]:
train['LoanAmount']=train['LoanAmount'].fillna(train['LoanAmount'].median())

In [959]:
Q1=train['Loan_Amount_Term'].quantile(0.25)
Q3=train['Loan_Amount_Term'].quantile(0.75)
IQR=Q3-Q1

In [960]:
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR

In [961]:
lower_outliers=train[train['Loan_Amount_Term']<lower_bound]
upper_Outliers=train[train['Loan_Amount_Term']<upper_bound]

In [962]:
print("lower outliers:",lower_outliers.shape[0])
print("upper ooutliers:", upper_outliers.shape[0])

lower outliers: 73
upper ooutliers: 539

In [963]:
train['Loan_Amount_Term']=train['Loan_Amount_Term'].fillna(train['Loan_Amount_Term'].median())

In [964]:
train['Credit_History']=train['Credit_History'].fillna(train['Credit_History'].mode()[0])

In [965]:
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [966]:
test.sample(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
168,LP001950,Female,Yes,3+,Graduate,No,1750,2935,94.0,360.0,0.000000,Semiurban
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.000000,Urban
27,LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.000000,Urban
47,LP001242,Male,No,0,Not Graduate,No,2356,1902,108.0,360.0,1.000000,Semiurban
157,LP001867,Male,Yes,0,Graduate,No,4333,2291,133.0,350.0,1.000000,Rural
348,LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.000000,Urban
26,LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,0.825444,Urban
25,LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.000000,Rural
307,LP002735,Male,Yes,2,Not Graduate,No,3859,0,121.0,360.0,1.000000,Rural
99,LP001527,Male,Yes,3+,Graduate,No,6835,0,188.0,360.0,0.825444,Semiurban

In [967]:
train['Dependents']=train['Dependents'].replace('3+', '3')
test['Dependents']=test['Dependents'].replace('3+', '3')

In [968]:
train['Dependents']=train['Dependents'].astype(float)
test['Dependents']=test['Dependents'].astype(float)

In [969]:
binary_cols={
    'Gender':{'Male':0, 'Female':1},
    'Married':{'No':0, 'Yes':1},
    'Education':{'Graduate':0, 'Not Graduate':1},
    'Self_Employed':{'No':0, 'Yes':1},
}
for col, mapping in binary_cols.items():
    train[col]=train[col].map(mapping)
    test[col]=test[col].map(mapping)

In [970]:
train['Loan_Status']=train['Loan_Status'].map({'Y':1, 'N':0})

In [971]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [972]:
train=pd.get_dummies(train,columns=['Property_Area'],drop_first=True)
test=pd.get_dummies(test,columns=['Property_Area'], drop_first=True)

In [973]:
full=pd.concat([X,test], axis=0)
full=pd.get_dummies(full, drop_first=True)
X=full.iloc[:len(X), :]
test=full.iloc[len(X):, :]

In [974]:
train, test=train.align(test, join='left', axis=1, fill_value=0)

In [975]:
X=train.drop(['Loan_Status','Loan_ID'] ,axis=1)
y=train['Loan_Status']
test=test.drop(['Loan_ID'], axis=1)

In [976]:
y.isnull().sum()

np.int64(0)

In [977]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val=train_test_split(
    X,y, 
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [978]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(max_iter=10000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [979]:
y_pred=model.predict(X_val)

In [980]:
from sklearn.metrics import accuracy_score, classification_report
print("Accuracy:", accuracy_score(y_val, y_pred))
print(classification_report(y_val, y_pred))

Accuracy: 0.8617886178861789
              precision    recall  f1-score   support

           0       0.96      0.58      0.72        38
           1       0.84      0.99      0.91        85

    accuracy                           0.86       123
   macro avg       0.90      0.78      0.81       123
weighted avg       0.88      0.86      0.85       123

In [983]:
test = test.drop(columns=['Loan_Status'])

In [984]:
test_predictions=model.predict(test)

In [985]:
test_predictions = pd.Series(test_predictions).map({1: 'Y', 0: 'N'})

In [987]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

train_original = train.copy()
test_original = test.copy()

# clean + encode
# train model
# predict

# submission
submission = pd.DataFrame({
    'Loan_ID': test_original['Loan_ID'],
    'Loan_Status': test_predictions
})

In [988]:
submission.to_csv('loan_predictions.csv', index=False)

In [989]:
test_predictions[:10]

0    Y
1    Y
2    Y
3    Y
4    Y
5    Y
6    Y
7    N
8    Y
9    Y
dtype: object

In [990]:
test_predictions.shape

(367,)

In [991]:
test.shape[0]

367

In [992]:
import os
os.listdir()

['test.csv',
 'loan_prediction_analysis.ipynb',
 'loan_predictions.csv',
 'train.csv',
 '.ipynb_checkpoints']